.grid_1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 30px;
  column-gap: 30px;
  padding: 20px 0px;
}

main {
  padding: 50px;
}

h1 {
  text-align: center;
  padding: 20px 0px;
  font-family: var(--font-h1);
  letter-spacing: 0.04rem;
  font-size: 2.5rem;
}

.boss {
  padding-top: 60px;
  padding-bottom: 40px;
}

p {
  padding: 10px 0px;
  font-family: var(--font-prose);
}

@media (width>=800px) {
  .grid_1-1-1 {
    row-gap: 60px;
    column-gap: 60px;
    padding: 50px 200px;
  }

  .top {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 10px 200px;
  }

  .about {
    justify-self: start;
    align-self: start;
  }

  .indo {
    padding: 30px;
    font-size: 1.2rem;
  }

  .grid_1-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
  }

  .boss {
    margin-top: 80px;
    padding: 50px;
    align-items: center;
  }

  .text {
    max-width: 500px;
    padding-left: 50px;
  }

  .nickie {
    justify-self: start;
    align-self: start;
  }
}
