:root {
  /* background colors */
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #d9d5cf;

  /* cta background color */
  --color-cta-bg: #1d1d1d;
  --color-cta-bg-hover: #d9d5cf;

  /* text color black */
  --color-text-primary: #1d1d1d;
  --color-text-secondary: #ffffff;

  /* heading */
  --font-h1: "Anton", sans-serif;

  /* prose */
  --font-prose: "Epilogue", sans-serif;
}

.heading {
  font-family: var(--font-h1);
}

.prose {
  font-family: var(--font-prose);
  font-weight: 400;
}
/* CTA button til header */
.ctabtn {
  background: var(--color-cta-bg);
  color: var(--color-text-secondary);
  text-decoration: none;
  padding: 9px 14px;
  font-size: 14px;
  display: inline-block;
  font-family: var(--font-prose);
}

/* cta button til alle andre knapper evt */
.ctabtn-2 {
  background: var(--color-cta-bg);
  color: var(--color-text-secondary);
  text-decoration: none;
  padding: 14px 35px;
  font-size: 14px;
  display: inline-block;
  font-family: var(--font-prose);
}

/* CTABTN - DESKTOP header */
@media (min-width: 800px) {
  .ctabtn {
    padding: 15px 35px;
    font-size: 16px;

    /* cta desktop til andre knapper */
    .ctabtn-2 {
      padding: 15px 35px;
      font-size: 16px;
    }
  }
}
