:root {
  /* background colors */
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #d9d5cf;

  /* cta background color */
  --color-cta-bg: #1d1d1d;
  --color-cta-bg-hover: #d9d5cf;

  /* text color black */
  --color-text-primary: #1d1d1d;
  --color-text-secondary: #ffffff;

  /* heading */
  --font-h1: "Anton", sans-serif;

  /* prose */
  --font-prose: "Epilogue", sans-serif;
}

.heading {
  font-family: var(--font-h1);
}

.prose {
  font-family: var(--font-prose);
  font-weight: 400;
}
/* --- Header --- */
.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  padding: 10px 14px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

/* Burger-menu knap */
.burgermenu-icon {
  height: 20px;
  width: auto;
}

/* Logo */
.logo-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.logo-icon {
  height: 60px;
  width: auto;
}

/* Kurv og BOOK */
.right-container {
  display: flex;
  align-items: center;
  gap: 12px;
}
.kurv-icon {
  height: 15px;
  width: auto;
}
.book-btn {
  background: black;
  color: white;
  text-decoration: none;
  padding: 7px 14px;
  font-size: 14px;
  display: inline-block;
}
/*  Dekstop  */
@media (min-width: 800px) {
  .burgermenu-icon {
    height: 40px;
  }

  .logo-icon {
    height: 100px;
  }

  .kurv-icon {
    height: 24px;
  }

  .book-btn {
    padding: 15px 35px;
    font-size: 16px;
  }
}
