/* general styling */

h1 {
  font-family: var(--font-h1);
  font-size: 2.5rem;
  letter-spacing: 0.04em;
  line-height: 1.3;
  color: var(--color-text-primary);
}

h2 {
  font-family: var(--font-prose);
  font-weight: 700;
  font-size: 1.3rem;
  color: var(--color-text-primary);
}

p {
  font-family: var(--font-prose);
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1.6;
  color: var(--color-text-primary);
}

section {
  max-width: 1780px;
  margin: 0 auto;
}

.left-h1 {
  text-align: center;
}

/* skal evt. kopieres ind i layout.css */

/* index styling */

.index-flex-cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: space-between;
  justify-content: center;
  gap: 20px;
}

.flex-end-btn {
  display: flex;
  justify-content: flex-end;
}

/* mobile */

/* @media screen and (max-width: 799px) { */
.index-grid-1 {
  display: grid;
  grid-template-rows: 1fr;
  justify-content: center;
  gap: 20px;
  padding: 50px 0;
}

.index-flex-1 {
  display: flex;
  flex-direction: row;
  align-items: space-between;
  justify-content: center;
  gap: 30px;
}

.index-flex-2 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  text-align: center;
}

.grid-shop-cards {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 30px;
  padding-top: 40px;
}

.index-bg-change {
  background-color: var(--color-bg-secondary);
  width: 100%;
  padding: 60px 0;
}

.index-carrousel {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  padding: 20px 0 0 0;
}

.index-grid-3 {
  display: grid;
  grid-template-rows: 1fr;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 40px 20px 90px 20px;
  gap: 50px;
}

.index-flex-event {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

/* } */

/* Karrusel styling */

.index-carousel {
  width: 100%;
  position: relative;
}

.carousel-inner {
  display: flex;
  overflow-x: scroll;

  transition: transform 0.5s ease;
  scroll-snap-type: x mandatory;

  &::-webkit-scrollbar {
    display: none;
  }

  img {
    scroll-snap-align: center;
  }
}

.previous,
.next {
  position: absolute;

  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0);
  color: white;
  border: none;
  padding: 0.5rem 0.5rem;
  cursor: pointer;
  font-size: 2rem;
  z-index: 2;
}

.previous {
  left: 15px;
  display: none;
}
.next {
  right: 15px;
  display: none;
}

/* desktop */

@media screen and (min-width: 800px) {
  .index-grid-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 50px 0;
    gap: 20px;
  }

  .index-flex-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 100px;
    gap: 50px;
    grid-column: span 2;
  }

  .left-h1 {
    text-align: left;
    display: flex;
    justify-content: center;
  }

  .index-flex-2 {
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: left;
    padding-top: 90px;
  }

  p {
    font-size: 0.9rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  .index-bg-change {
    height: 85vh;
  }
  .index-grid-2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 80px;
  }

  .grid-shop-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    padding-top: 40px;
  }

  .shop-card {
    display: grid;
    grid-template-rows: 1fr 1fr;
    text-align: left;
    justify-content: center;
  }

  .index-grid-3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 100px 75px;
  }

  .index-flex-event {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
  }

  .img-event-move {
    order: -1;
    justify-self: center;
  }

  .previous {
    left: 15px;
    display: block;
  }
  .next {
    right: 15px;
    display: block;
  }
}
