/* general styling */

h1 {
  font-family: var(--font-h1);
  font-size: 2.5rem;
  letter-spacing: 0.04em;
  line-height: 1.3;
  color: var(--color-text-primary);
}

h2 {
  font-family: var(--font-prose);
  font-weight: 700;
  font-size: 1.3rem;
  color: var(--color-text-primary);
}

p {
  font-family: var(--font-prose);
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1.6;
  color: var(--color-text-primary);
}

section {
  max-width: 1780px;
  margin: 0 auto;
}

.left-h1 {
  text-align: center;
}

/* skal evt. kopieres ind i layout.css */

/* index styling */

.index-flex-cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: space-between;
  justify-content: center;
  gap: 20px;
}

.flex-end-btn {
  display: flex;
  justify-content: flex-end;
}

/* mobile */

/* @media screen and (max-width: 799px) { */
.index-grid-1 {
  display: grid;
  grid-template-rows: 1fr;
  justify-content: center;
  gap: 20px;
  padding: 50px 0;
}

.index-flex-1 {
  display: flex;
  flex-direction: row;
  align-items: space-between;
  justify-content: center;
  gap: 30px;
}

.index-flex-2 {
  text-align: center;
}

.index-bg-change {
  background-color: var(--color-bg-secondary);
  width: 100%;
  padding: 40px 0;
}

.index-carrousel {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  padding: 20px 0 0 0;
}

/* } */

/* desktop */

@media screen and (min-width: 800px) {
  .index-grid-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 50px 0;
    gap: 20px;
  }

  .index-flex-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 100px;
    gap: 50px;
    grid-column: span 2;
  }

  .left-h1 {
    text-align: left;
    display: flex;
    justify-content: center;
  }

  .index-grid-2 {
    display: flex;
    flex-direction: row;
    padding: 50px;
  }

  .index-flex-2 {
    display: grid;
    flex-direction: row;
    padding: 100px 0 100px 40px;
    text-align: left;
  }

  p {
    font-size: 0.9rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  .index-bg-change {
    height: 85vh;
  }
  .index-grid-2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 80px;
  }

  .grid-shop-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }

  .shop-card {
    display: grid;
    grid-template-rows: auto auto auto;
    text-align: left;
  }
}
