/* general styling */

h1 {
  font-family: var(--font-h1);
  font-size: 2.5rem;
  letter-spacing: 0.04em;
  line-height: 1.3;
  color: var(--color-text-primary);
}

h2 {
  font-family: var(--font-prose);
  font-weight: 700;
  font-size: 1.3rem;
  color: var(--color-text-primary);
}

p {
  font-family: var(--font-prose);
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1.6;
  color: var(--color-text-primary);
}

section {
  max-width: 1780px;
  margin: 0 auto;
}

.left-h1 {
  text-align: center;
}

/* skal evt. kopieres ind i layout.css */

/* index styling */

.herobanner img {
  width: 100%;
}

.index-flex-cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: space-between;
  justify-content: center;
  gap: 20px;
  padding-top: 20px;
}

.flex-end-btn {
  display: flex;
  justify-content: flex-end;
}

/* mobile */

/* @media screen and (max-width: 799px) { */
.index-grid-1 {
  display: grid;
  grid-template-rows: 1fr;
  justify-content: center;
  gap: 20px;
  padding: 50px 0;
}

.index-flex-1 {
  display: flex;
  flex-direction: row;
  align-items: space-between;
  justify-content: center;
  gap: 30px;
}

.index-flex-2 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  text-align: center;
}

.grid-shop-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 40px;
}

.shop-card {
  display: grid;
  gap: 5px;
}

.card-mobile {
  display: none;
}

.index-bg-change {
  background-color: var(--color-bg-secondary);
  width: 100%;
  padding: 60px 0;
}

.index-grid-3 {
  display: grid;
  grid-template-rows: 1fr;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 40px 20px 90px 20px;
  gap: 50px;
}

.index-flex-event {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  padding-top: 20px;
}

/* } */

/* Carousel img styling */

.index-carousel {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  padding: 20px 0 0 0;
  width: 100%;
  position: relative;
}

.carousel-inner {
  display: flex;
  overflow-x: scroll;

  transition: transform 0.5s ease;
  scroll-snap-type: x mandatory;

  &::-webkit-scrollbar {
    display: none;
  }

  img {
    scroll-snap-align: center;
  }
}

.previous,
.next {
  position: absolute;

  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0);
  color: white;
  border: none;
  padding: 0.5rem 0.5rem;
  cursor: pointer;
  font-size: 2rem;
  z-index: 2;
}

.previous {
  left: 15px;
  display: none;
}
.next {
  right: 15px;
  display: none;
}

/* carousel shop styling */

/* .shop-carousel {
  width: 100%;
  overflow-x: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
} */

.shop-carousel .shop-carousel-inner {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

/* .shop-carousel-inner {
  flex: 0 0 20em;
} */

/* --- cookie --- */
.cookie-modal {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 500px;
  padding: 20px;
  background-color: #eeedea;
  font-size: 10px;
  margin: auto;
  z-index: 1000;
  border-radius: 5px;
}

.hidden {
  display: none;
}

.manage {
  grid-column: 1/5;
  grid-row: 1/2;
  align-items: start;
  font-size: 40px;
  text-align: left;
  padding: 6px;
}

.close {
  height: 30px;
}

.necessary {
  grid-column: 1/4;
  grid-row: 2/3;
  padding: 6px;
}

.vandret-line {
  border: none;
  height: 1px;
  background-color: #000000;
}

.performance {
  grid-column: 1/4;
  grid-row: 3/4;
  padding: 6px;
}

.advertising {
  grid-column: 1/4;
  grid-row: 4/5;
  padding: 6px;
}

.knap {
  grid-column: 4/5;
  grid-row: 4/5;
  height: 20px;
  width: 60px;
  align-self: end;
  justify-self: end;
  background-color: #000000;
  color: aliceblue;
  font-family: var(--font-h1);
  cursor: pointer;
  margin: 12px;
  border: none;
}

.fortune {
  height: 80px;
  grid-column: 4/5;
  grid-row: 2/3;
}

.slide-btn {
  width: 22px;
  height: 12px;
  background: #000000;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  padding: 0;
  position: relative;
  transition: background 0.2s;
}

.slide-btn .slider {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 8px;
  height: 8px;
  background: rgb(255, 255, 255);
  border-radius: 50%;
  transition: left 0.2s ease;
}

.slide-btn[aria-pressed="true"] {
  background: #bf7497;
}

.slide-btn[aria-pressed="true"] .slider {
  left: 12px;
}

.slide-btn2 {
  width: 22px;
  height: 12px;
  background: #000000;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  padding: 0;
  position: relative;
  transition: background 0.2s;
}

.slide-btn2 .slider2 {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 8px;
  height: 8px;
  background: rgb(255, 255, 255);
  border-radius: 50%;
  transition: left 0.2s ease;
}

.slide-btn2[aria-pressed="true"] {
  background: #bf7497;
}

.slide-btn2[aria-pressed="true"] .slider2 {
  left: 12px;
}

@media (width<=800px) {
  .cookie-linje {
    display: none;
  }
  .cookie-linje2 {
    display: none;
  }
}

/* --- cookie slut --- */

/* desktop */

@media screen and (min-width: 800px) {
  .index-grid-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 50px 0;
    gap: 20px;
  }

  .index-flex-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 100px;
    gap: 50px;
    grid-column: span 2;
  }

  .left-h1 {
    text-align: left;
    display: flex;
    justify-content: center;
  }

  .index-flex-2 {
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: left;
    padding: 110px 0 0 45px;
  }

  p {
    font-size: 0.9rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  .index-grid-2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* grid-template-columns: max-content 1fr; */
    gap: 30px;
    padding: 80px 0 80px 80px;
  }

  .grid-shop-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
  }

  .shop-card {
    display: grid;
    grid-template-rows: 1fr auto;
    text-align: left;
    justify-content: center;
    width: 285px;
    flex-shrink: 0;
    gap: 5px;
  }

  .card-mobile {
    display: block;
  }

  .index-grid-3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 100px 75px;
  }

  .index-flex-event {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
  }
  /* carousel 1  */
  .img-event-move {
    order: -1;
    justify-self: center;
  }

  .previous {
    left: 15px;
    display: block;
  }
  .next {
    right: 15px;
    display: block;
  }

  .shop-carousel .shop-carousel-inner {
    display: flex;
    flex-direction: row;
    gap: 60px;
  }

  .cookie-modal {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-row: 1fr 1fr 1fr;
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 650px;
    padding: 20px;
    background-color: #eeedea;
    font-size: 10px;
    margin: auto;
    z-index: 1000;
    border-radius: 5px;
  }

  .hidden {
    display: none;
  }

  .manage {
    font-size: 45px;
  }
  .necessary {
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 6px;
  }

  .performance {
    grid-column: 3/4;
    grid-row: 2/3;
    padding: 6px;
  }

  .advertising {
    grid-column: 5/6;
    grid-row: 2/3;
    padding: 6px;
  }

  .knap {
    grid-column: 7/8;
    grid-row: 2/3;
    margin: 6px;
  }

  .fortune {
    grid-column: 6/8;
    grid-row: 2/3;
    height: 130px;

    padding: 6px;
  }

  .vandret-line {
    display: none;
  }

  .cookie-linje {
    grid-column: 2/3;
    grid-row: 2/3;
    width: 1px;
    background-color: black;
    height: 70%;
    border: 0px;
    margin: 0;
    margin-top: 20px;
    justify-self: center;
  }

  .cookie-linje2 {
    grid-column: 4/5;
    grid-row: 2/3;
    width: 1px;
    background-color: black;
    height: 70%;
    border: 0px;
    margin: 0;
    margin-top: 20px;
    justify-self: center;
  }
}
