/* --- Header --- */
.heading {
  font-family: var(--font-h1);
}

.prose {
  font-family: var(--font-prose);
  font-weight: 400;
}
/* --- Header --- */
.menu {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  padding: 10px 14px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

/* Burger-menu knap */
.burgermenu-icon {
  height: 20px;
  width: auto;
  margin-left: 5px;
}

/* Logo */
.logo-container {
  flex: 1;
  display: flex;
  justify-content: center;
  transform: translateX(10%);
}

.logo-icon {
  height: 60px;
  width: auto;
}

/* Kurv og BOOK */
.book-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 5px;
}
.kurv-icon {
  height: 20px;
  width: auto;
  margin-top: 4px;
}

/*  Dekstop  */
@media (min-width: 800px) {
  .burgermenu-icon {
    height: 40px;
    margin-left: 30px;
  }
  .logo-container {
    transform: translateX(3%);
  }
  .logo-icon {
    height: 100px;
  }
  .book-container {
    margin-right: 30px;
    gap: 20px;
  }
  .kurv-icon {
    height: 30px;
  }
}

/*foooter start*/

footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(7, 1fr);
  padding: 1rem;
  background-color: #eeedea;
  font-size: 15px;
  padding-top: 50px;
}

p,
h2 {
  font-family: var(--font-prose);
}

.info {
  padding-left: 40px;
}

#vester {
  grid-column: 1/2;
  grid-row: 1/2;
  line-height: 1.4;
}

#copen {
  grid-column: 1/2;
  grid-row: 2/3;
}

#nr {
  grid-column: 1/2;
  grid-row: 3 / 4;
}

#open {
  grid-column: 1/2;
  grid-row: 4/5;
  line-height: 1.4;
}

#rapport {
  grid-column: 1/2;
  grid-row: 5/6;
  text-decoration-line: underline;
}

#contact {
  grid-column: 1/2;
  grid-row: 6/7;
  text-decoration-line: underline;
  overflow-wrap: break-word;
}

#sociale {
  grid-column: 1/2;
  grid-row: 7/8;
  display: flex;
  gap: 20px;
  padding-left: 2.5rem;
  padding-top: 40px;
  justify-content: center;
}

#logo {
  grid-column: 2/3;
  grid-row: 1 / 7;
  display: flex;
  justify-content: center;
  align-items: center;
}

#copy {
  grid-column: 2/3;
  grid-row: 7/8;
  padding-top: 40px;
  align-items: center;
}

.vertical-line {
  width: 1px;
  background-color: black;
  border: 10px;
  height: 100%;
  grid-column: 2/3;
  grid-row: 1/7;
}

@media (max-width: 800px) {
  .vertical-line2 {
    display: none;
  }
}

@media (width>=800px) {
  footer {
    display: grid;
    grid-template-columns: 1fr auto 1fr auto 1fr;
    grid-template-rows: repeat(4, auto);
  }

  #vester {
    grid-column: 1/2;
    grid-row: 1/2;
    place-self: center;
  }

  #copen {
    grid-column: 1/2;
    grid-row: 2/3;
    place-self: center;
  }

  #nr {
    grid-column: 1/2;
    grid-row: 3 / 4;
    place-self: center;
  }

  #open {
    grid-column: 3/4;
    grid-row: 1/2;
    place-self: center;
  }

  #rapport {
    grid-column: 3/4;
    grid-row: 2/3;
    place-self: center;
  }

  #contact {
    grid-column: 3/4;
    grid-row: 3/4;
    place-self: center;
  }

  #sociale {
    grid-column: 1/2;
    grid-row: 4/5;
  }

  #logo {
    grid-column: 5/6;
    grid-row: 1 / 4;
    width: 300px;
    place-self: center;
  }

  #copy {
    grid-column: 5 / 6;
    grid-row: 4/5;
    place-self: center;
  }
  .vertical-line {
    width: 1px;
    background-color: black;
    border: 10px;
    height: 90%;
    grid-column: 2/3;
    grid-row: 1/4;
  }

  .vertical-line2 {
    width: 1px;
    background-color: black;
    border: 10px;
    height: 90%;
    grid-column: 4/5;
    grid-row: 1/4;
  }
}

/*foooter start*/
