/* --- Header --- */
.heading {
  font-family: var(--font-h1);
}

.prose {
  font-family: var(--font-prose);
  font-weight: 400;
}
/* --- Header --- */
.menu {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  padding: 10px 14px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

/* Burger-menu knap */
.burgermenu-icon {
  height: 20px;
  width: auto;
  margin-left: 5px;
}

/* Logo */
.logo-container {
  flex: 1;
  display: flex;
  justify-content: center;
  transform: translateX(10%);
}

.logo-icon {
  height: 60px;
  width: auto;
}

/* Kurv og BOOK */
.book-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 5px;
}
.kurv-icon {
  height: 20px;
  width: auto;
  margin-top: 4px;
}

/*  Dekstop  */
@media (min-width: 800px) {
  .burgermenu-icon {
    height: 40px;
    margin-left: 30px;
  }
  .logo-container {
    transform: translateX(3%);
  }
  .logo-icon {
    height: 100px;
  }
  .book-container {
    margin-right: 30px;
    gap: 20px;
  }
  .kurv-icon {
    height: 30px;
  }
}
