:root {
  /* background colors */
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #d9d5cf;
}

/* Fonts */
h1 {
  font-family: "Anton", sans-serif;
  font-size: 40px;
  line-height: 1;
  color: black;
  padding: 30px;
  text-align: center;
}

h2 {
  font-family: "Epilogue", sans-serif;
  font-size: 30px;
  color: black;
  padding-bottom: 20px;
  text-align: center;
}

h3 {
  font-family: "Epilogue", sans-serif;
  font-size: 20px;
  color: black;
  text-align: center;
}

h4 {
  font-family: "Epilogue", sans-serif;
  font-size: 15px;
  color: black;
  text-align: center;
}

p {
  font-family: "Epilogue", sans-serif;
  font-size: 11px;
  font-weight: 300;
  color: black;
  padding-bottom: 25px;
  text-align: center;
}

/* ------Media desktop---------- */

@media (min-width: 800px) {
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.menu1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}

.flex-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-wok {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.dish h3,
.dish h2,
.dish h1,
.dish h4,
.dish p {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
