h1 {
  font-family: var(--font-h1);
  font-size: 2.5rem;
  letter-spacing: 0.04em;
  line-height: 1.3;
  color: var(--color-text-primary);
  text-align: center;
}

p {
  font-family: var(--font-prose);
}

.shop_section {
  display: grid;
  justify-content: center;
}

h3 {
  font-family: var(--font-h1);
  font-size: 1.5rem;
  letter-spacing: 0.04em;
  line-height: 1.3;
  color: var(--color-text-primary);
}
