h1 {
  font-family: var(--font-h1);
  font-size: 2.5rem;
  letter-spacing: 0.04em;
  line-height: 1.3;
  color: var(--color-text-primary);
  text-align: center;
}

p {
  font-family: var(--font-prose);
}

h2 {
  font-family: "Anton", sans-serif;
  font-size: 1.8rem;
  letter-spacing: 0.04em;
  line-height: 1.3;
  color: var(--color-text-primary);
}

.shop_grid-1-1 {
  display: grid;
  grid-template-columns: 1fr;
}

.letter-margin {
  margin-bottom: 50px;
}

@media (min-width: 800px) {
  .shop_grid-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }

  h1 {
    text-align: start;
  }

  .shop_grid-1-1-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
  }

  main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
}
